node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
instaClone-using-expo-02-video#1.MOV
instaClone-using-expo-02-video#2.MOV
instaClone-using-expo-02(before-gifcompressor.com).gif
